{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": "__dirname",
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "typescript": true
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "react/prop-types": "off",
    "@typescript-eslint/semi": "warn",
    "curly": "off",
    "eqeqeq": "warn",
    "no-throw-literal": "warn",
    "semi": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/no-unescaped-entities": "off"
  },
  "ignorePatterns": ["out", "dist", "**/*.d.ts"],
  "settings": {
    "import/external-module-folders": ["node_modules", ".yarn"],
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "node": {},
      "typescript": {}
    },
    "react": {
      "version": "detect"
    }
  }
}
