@keyframes wave {
  0% {
    background-position: 100% 50%;
    opacity: 0;
  }
  15% {
    background-position: 100% 50%;
    opacity: 0;
  }
  25% {
    background-position: 100% 50%;
    opacity: 1;
  }
  75% {
    background-position: 0% 50%;
    opacity: 1;
  }
  85% {
    background-position: 0% 50%;
    opacity: 0; /* Keep the wave invisible until it reappears */
  }
  100% {
    background-position: 0% 50%;
    opacity: 0;
  }
}

@keyframes busy-robot {
  0% {
    transform: translateY(0) translateX(0px) rotate(0);
  }
  10% {
    transform: translateY(-2px) translateX(0px) rotate(0.01turn);
  }
  20% {
    transform: translateY(0) translateX(0px) rotate(0);
  }
  30% {
    transform: translateY(-2px) translateX(0px) rotate(-0.01turn);
  }
  40% {
    transform: translateY(0) translateX(0) rotate(0);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
  }
}

body a.logo:hover {
  color: var(--vscode-sideBar-foreground);
}

.busy-robot {
  animation: busy-robot 1.0s ease-in-out infinite 1s;
}

@keyframes busy-robot-extra {
  0%  {
    transform: rotate(-1turn);
  }
  15% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(0turn);
  }
}

.busy-robot-extra {
  animation: busy-robot-extra 6.0s ease-in-out infinite 4.3s;
}

.wave-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.0) 25%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.0) 60%
  );
  background-size: 200% 100%;
  z-index: 10; /* Make sure the background is behind the content */
  opacity: 1; /* Adjust the opacity of the pseudo-element */
}

.wave-animation {
  background: none;
}

.wave-animation::before {
  animation: wave 2s linear infinite 2s;
}

body {
  padding: 0;
}

[data-caret]:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1em;
  background-color: var(--vscode-editor-foreground);
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  50%, 100% {opacity: 0;}
}