

@keyframes bounce-half {
  0% {
    transform: translateY(-10%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    opacity: 1;
  }
}